<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--link rel="stylesheet" type="text/css" media="all" href="style.css" th:href="@{style.css}" /!-->
    <!--link rel="stylesheet" type="text/css" media="all" href="style.css" th:href="@{style.css}" /!-->
</head>

<body >

	<h1> Enter the Issue Details</h1>
	<div class="container">
	<div class="row">
	<div class="col-sm-4">
    	<h1>Add Issue</h1>
   
		<form th:action="@{/addIssue}"method="post">
			<input type="number" th:field="*{id}" />
			<label for="id">Issue Id:</label>
			
			<input type="text" th:field="*{bugId}" />
			<label for="bugId">bugId:</label>
			
			<input type="text" th:field="*{desc}"/>
			<label for="desc">desc:</label>
			
			<input type="text" th:field="*{status}"/>
			<label for="status">status:</label>
			
			<input type="date" th:field="*{openedDate}"/>
			<label for="openedDate">date:</label>
				
			<input type="submit"/>
		</form>
	</div>
	</div>
	</div>
</body>
</html>
	